<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>body{
        background-image: url("https://i.kinja-img.com/gawker-media/image/upload/s--1IbYcQm2--/c_fill,fl_progressive,g_center,h_900,q_80,w_1600/zj42kn2xzlivgllfpa2u.jpg");
             display: flex;
             flex-direction:column;
             margin:2px;
             }
             .menu
             {
                display: flex;
               justify-content: space-around;
               background-color: rgb(34, 26, 42);
             }
             .menu a{
                 font-size: 20px;
                 font-weight: bolder;
                 color:white;
                 text-decoration: none;
             }
    </style>
</head>
<body>
    <h1>BANKING SYSTEM PROJECT</h1>
       <div class="menu">

           <a href="/add">ADD ACCOUNT</a>
           <a href="/search">SEARCH ACCOUNT</a>
           <a href="/update">UPDATE ACCOUNT</a>
           <a href="/delete">DELETE ACCOUNT</a>
           <a href="/view">VIEW ACCOUNT</a>
       </div>
</body>
</html>